.button,
.tl-timeline a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	font-weight: 700;
	padding: .75em 1em;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background-color: lighten($color__background-button, 15%);
		color: $color__text-button;
	}
}
