.main-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background-color: $color__text-main;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			background-color: $color__background-body;
			color: $color__text-main;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 0.75em 1.5em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		.nav-menu {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			height: 100%;
		}

		ul ul { display: block; }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	@media screen and (min-width: 37.5em) {
		.nav-links {
			padding: 0 25%;
			display: flex;
			justify-content: space-between;
		}
	}
}
