.mayor-wall {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.mayor {
		padding: 1em;
		text-align: center;
		max-width: 350px;

		img { border: 10px solid white; }

		h2 { margin-bottom: 0; }
	}

	.meta {
		font-style: italic;
		font-size: 85%;
	}
}
