.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.archive {
	.entry-header {
		width: 100%;
		padding: 2em;
		background-color: $color__text-main;
		text-align: center;
		font-size: 150%;

		a { color: $color__background-body; }
	}
}
