.site-content {
	max-width: 1600px;
	margin: 0 auto;
}

.artifact,
.mayor {
	.entry-content {
		display: flex;
		flex-wrap: wrap;

		#images, .sidebar, .content { width: 100%; }

		#images {
			iframe,
			.wp-video {
				display: block;
				margin: 0 auto;
			}
		}

		@media screen and (min-width: 37.5em) {
			#images { margin-bottom: 2em; }

			.sidebar { width: 25%; }
			.content { width: 50%; }

			.sidebar, .content { padding: 1em; }
		}
	}
}
