@media screen and (min-width: 37.5em) {
	.site-content {
		display: flex;
	}

	.content-area {
		order: 2;
		width: calc(#{($size__site-main - $size__site-sidebar)} - 2em);
		margin-left: 2em;
	}

	.site-content .widget-area {
		order: 1;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	.site-footer {
		width: $size__site-main;
	}
}
